In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv('iot_telemetry_data.csv')

In [3]:
dataset

,ts,device,co,humidity,light,lpg,motion,smoke,temp
0,1.594512e+09,b8:27:eb:bf:9d:51,0.004956,51.000000,False,0.007651,False,0.020411,22.700000
1,1.594512e+09,00:0f:00:70:91:0a,0.002840,76.000000,False,0.005114,False,0.013275,19.700001
2,1.594512e+09,b8:27:eb:bf:9d:51,0.004976,50.900000,False,0.007673,False,0.020475,22.600000
3,1.594512e+09,1c:bf:ce:15:ec:4d,0.004403,76.800003,True,0.007023,False,0.018628,27.000000
4,1.594512e+09,b8:27:eb:bf:9d:51,0.004967,50.900000,False,0.007664,False,0.020448,22.600000
...,...,...,...,...,...,...,...,...,...
405179,1.595203e+09,00:0f:00:70:91:0a,0.003745,75.300003,False,0.006247,False,0.016437,19.200001
405180,1.595203e+09,b8:27:eb:bf:9d:51,0.005882,48.500000,False,0.008660,False,0.023301,22.200000
405181,1.595203e+09,1c:bf:ce:15:ec:4d,0.004540,75.699997,True,0.007181,False,0.019076,26.600000
405182,1.595203e+09,00:0f:00:70:91:0a,0.003745,75.300003,False,0.006247,False,0.016437,19.200001
405183,1.595203e+09,b8:27:eb:bf:9d:51,0.005914,48.400000,False,0.008695,False,0.023400,22.200000

In [4]:
place2_dataset = dataset[dataset['device'] == '1c:bf:ce:15:ec:4d']
place2_dataset

,ts,device,co,humidity,light,lpg,motion,smoke,temp
3,1.594512e+09,1c:bf:ce:15:ec:4d,0.004403,76.800003,True,0.007023,False,0.018628,27.0
5,1.594512e+09,1c:bf:ce:15:ec:4d,0.004391,77.900002,True,0.007009,False,0.018589,27.0
8,1.594512e+09,1c:bf:ce:15:ec:4d,0.004345,77.900002,True,0.006957,False,0.018440,27.0
11,1.594512e+09,1c:bf:ce:15:ec:4d,0.004383,78.000000,True,0.007000,False,0.018563,27.0
13,1.594512e+09,1c:bf:ce:15:ec:4d,0.004451,78.000000,True,0.007079,False,0.018786,27.0
...,...,...,...,...,...,...,...,...,...
405165,1.595203e+09,1c:bf:ce:15:ec:4d,0.004524,75.900002,True,0.007162,False,0.019021,26.6
405171,1.595203e+09,1c:bf:ce:15:ec:4d,0.004532,75.900002,True,0.007172,False,0.019049,26.6
405174,1.595203e+09,1c:bf:ce:15:ec:4d,0.004532,75.900002,True,0.007172,False,0.019049,26.6
405178,1.595203e+09,1c:bf:ce:15:ec:4d,0.004553,75.800003,True,0.007196,False,0.019117,26.6
405181,1.595203e+09,1c:bf:ce:15:ec:4d,0.004540,75.699997,True,0.007181,False,0.019076,26.6

In [5]:
place2_dataset.describe()

,ts,co,humidity,lpg,smoke,temp
count,1.059180e+05,105918.000000,105918.000000,105918.000000,105918.000000,105918.000000
mean,1.594857e+09,0.004183,61.910247,0.006764,0.017895,26.025511
std,1.989772e+05,0.000320,8.944792,0.000373,0.001055,2.026427
min,1.594512e+09,0.003391,1.600000,0.005814,0.015224,0.000000
25%,1.594687e+09,0.003931,55.599998,0.006470,0.017064,24.299999
50%,1.594855e+09,0.004089,59.599998,0.006657,0.017592,25.900000
75%,1.595029e+09,0.004391,65.300003,0.007009,0.018589,27.299999
max,1.595203e+09,0.006224,92.000000,0.009022,0.024341,30.600000

In [6]:
place2_dataset = place2_dataset.drop(['device', 'motion', 'light'], axis='columns')
place2_dataset
# place2_dataset.to_csv('place2_dataset_105918.csv', index=False)

                  ts        co   humidity       lpg     smoke  temp
3       1.594512e+09  0.004403  76.800003  0.007023  0.018628  27.0
5       1.594512e+09  0.004391  77.900002  0.007009  0.018589  27.0
8       1.594512e+09  0.004345  77.900002  0.006957  0.018440  27.0
11      1.594512e+09  0.004383  78.000000  0.007000  0.018563  27.0
13      1.594512e+09  0.004451  78.000000  0.007079  0.018786  27.0
...              ...       ...        ...       ...       ...   ...
405165  1.595203e+09  0.004524  75.900002  0.007162  0.019021  26.6
405171  1.595203e+09  0.004532  75.900002  0.007172  0.019049  26.6
405174  1.595203e+09  0.004532  75.900002  0.007172  0.019049  26.6
405178  1.595203e+09  0.004553  75.800003  0.007196  0.019117  26.6
405181  1.595203e+09  0.004540  75.699997  0.007181  0.019076  26.6

[105918 rows x 6 columns]

In [7]:
s = place2_dataset.shape[0]
s

105918

In [8]:
import random
s = place2_dataset.shape[0] // 10
place2_dataset = place2_dataset.sample(n=s, replace=False)
place2_dataset

                  ts        co   humidity       lpg     smoke       temp
75820   1.594642e+09  0.004511  59.700001  0.007148  0.018981  23.600000
87866   1.594663e+09  0.004207  62.099998  0.006796  0.017986  25.000000
109964  1.594701e+09  0.004824  60.200001  0.007503  0.019991  23.900000
30853   1.594565e+09  0.004053  69.800003  0.006615  0.017473  25.799999
140481  1.594753e+09  0.004797  53.400002  0.007472  0.019902  26.500000
...              ...       ...        ...       ...       ...        ...
62761   1.594619e+09  0.004566  59.900002  0.007210  0.019158  24.799999
365056  1.595136e+09  0.004345  56.400002  0.006957  0.018440  28.000000
364935  1.595136e+09  0.004345  56.299999  0.006957  0.018440  28.000000
273333  1.594978e+09  0.003681  77.400002  0.006170  0.016220  23.700001
194281  1.594844e+09  0.003866  49.900002  0.006392  0.016846  29.299999

[10591 rows x 6 columns]

In [9]:
place2_dataset.to_csv('place2_dataset2_'+str(s)+'.csv', index=False)